<div class="theContainer">

  <div class="headerContainer">
     <div id="logoContainer" class="headerContainer">
     <div id="logo" routerLink="/"></div>
  </div>

  </div>
  <div class="headerContainer">
    <h2 class="textoMenu" routerLink="/about" routerLinkActive="activeLink">ECOINTERACTIVE</h2>
  </div>

  <div class="headerContainer">
    <h2 class="textoMenu" routerLink="/proyecto" routerLinkActive="activeLink">EL PROYECTO</h2>
  </div>

  <div class="headerContainer">
    <h2 class="textoMenu" routerLink="/prototipo" routerLinkActive="activeLink">INTERACCIÓN</h2>
  </div>

  <div class="headerContainer">
    <h2 class="textoMenu" routerLink="/pruebas" routerLinkActive="activeLink">PRUEBAS</h2>
  </div>

  <div class="headerContainer">
    <h2 class="textoMenu" routerLink="/equipo" routerLinkActive="activeLink">EQUIPO</h2>
  </div>

</div>

