<div id="footerContainer">
  <div class="foterLogoContainer">
   <!-- <div id="kappaLogo">
    </div> -->
  </div>

  <div class="iconsContainer">
    <div class="iconContainerForFlex">
      <div id="paperLogo" class="iconClass">
      </div>
    </div>
    <div class="iconContainerForFlex">
    <a id="githubLogo" class="iconClass" href="https://github.com/karlosvallejo/KappaEcoInteractive" target="_blank">
    </a>
    </div>
    <div class="iconContainerForFlex">
    <a id="mailLogo" class="iconClass" href="mailto:sky_karlos@hotmail.com">
    </a>
    </div>
  </div>

</div>
