<div class="containerOfContainers">
  <div class="prototipeImageContainer">
    <a href="/assets/imagenesPrototipo/sapon_1.jpeg" target="_blank"><div id="firstImageLeft"></div></a>
    <a href="/assets/imagenesPrototipo/sapon_2.png" target="_blank"><div id="secondImageLeft"></div></a>
    <h3 class="titleVersion">Primera Version</h3>
    <p class="versionDescripcion">En la primera version se conectó directamente el Arduino a una laptop donde era controlado el sistema y mostrada la interfaz. Para comenzar el juego, el usuario tenia que situarse encima de una plataforma conectada mediante cables al arduino.<br>Se presentaba el problema de que la plataforma dificultaba el flujo de personas ya que los cables llegaban obstaculizar, además de que se debía lidiar con una parte móvil externa a el sapo.</p>
  </div>
  <div class="prototipeImageContainer">
    <a href="/assets/imagenesPrototipo/sapon_3.jpg" target="_blank"><div id="firstImageRight"></div></a>
    <a href="/assets/piezasSapo/sapin_0.svg" target="_blank"><div id="secondImageRight"></div></a>
    <h3 class="titleVersion">Segunda Version</h3>
    <p class="versionDescripcion">En la segunda version se busco solucionar los problemas de la version anterior, para esto se reemplazo la plataforma por un sensor ultrasonido el cual permite medir distancia; Con esto se puede reconocer la presencia de un usuario sin la plataforma. Tambien se integro todo el procesamiento a una Raspberry PI alimentada por un powerbank, de esta forma el prototipo queda compacto como una unidad y solo se necesita conectar una pantalla para que el sapo quede listo para jugar.</p>
  </div>
</div>
