<div class="equipoContainer">
  <div class="Carlos circuloneID"></div>
  <a href="https://www.linkedin.com/in/rodrigo-tofi%C3%B1o/" target="_blank" class="Rodrigo circuloneID"></a>
  <a href="https://www.linkedin.com/in/mariadanielavictoria/" target="_blank" class="Daniela circuloneID"></a>
</div>

<div class="infoIDContainer">
  <div class="infoID">
    <h2>Carlos Andrés Gómez</h2>
    <h5>Programación de la aplicación EcoInteractive / Pagina Web</h5>
  </div>
  <div class="infoID">
    <h2>Rodrigo Tofiño</h2>
    <h5>Diseño de investigación y pruebas de usuario / Análisis de Resultados</h5>
  </div>
  <div class="infoID">
    <h2>Maria Daniela Victoria</h2>
    <h5>
      Construcción del Prototipo
    </h5>
  </div>
</div>
