<div class="containerProject">

  <div class="infoContainer">
    <h3 id="queEsSmurfitText">¿QUÉ ES SMURFIT KAPPA?</h3>
    <br>
    <p class="textInfo">Smurfit Kappa se caracteriza en el mundo empresarial por preocuparse por el medio ambiente y ser sostenible en su producción de cartón, corrugados y empaques.</p>
    <p class="textInfo">De igual forma, es líder en Colombia en el proceso de reciclaje de papel usado y cartón reciclando 180.000 toneladas en el país (ANDA, 2017) y en el mundo más de 5 millones de toneladas debido a su circuito de recolección de productos posconsumo principalmente en tiendas minoristas (Smurfit Kappa , 2018).</p>
  </div>
  <div class="infoContainer">
    <h3 id="queEsEcoText">¿POR QUE ECOINTERACTIVE?</h3>
    <br>
    <p class="textInfo">Puede ocurrir que en el usuario final exista desconocimiento de las actividades ambientalmente responsables que practica la empresa, lo cual podría tener repercusiones negativas en la percepcion de la marca. En ese orden de ideas, mostrar su actividad medioambiental es una oportunidad de mejora no atendida ya que acciones como estas en una organización generan un valor adicional en sus productos y es de total interés hacerlas conocer por sus clientes.</p>
  </div>

</div>
